.row
  .col-sm-5.col-md-3
    .profile-avatar
      = image_tag "mvptheme/admin/avatar-4-sm.jpg", :class => "profile-avatar-img img-responsive thumbnail" 
  .col-md-6.col-sm-7
    %br.visible-xs
    %h3= current_user.name
    %hr
    %ul.icons-list
      %li
        %i.icon-li.fa.fa-envelope
        = @user.email
      %li
        %i.icon-li.fa.fa-map-marker
        #{@user.address1}, #{@user.city}, #{@user.zip}
      %li
        %i.icon-li.fa.fa-mobile
        #{@user.phone}
    %hr
    %br
    %br
    .heading-block
      %h4 
        Hours Report
    .col-sm-6.col-md-3
      .row-stat
        %p.row-stat-label 
          Hours in #{Date.today.strftime("%B")} 
        %h3.row-stat-value 
          = @user.current_month_hours
    .col-sm-6.col-md-3
      .row-stat
        %p.row-stat-label Hours in this quarter
        %h3.row-stat-value 
          = @user.current_quarters_hours
    .col-sm-6.col-md-3
      .row-stat
        %p.row-stat-label 
          Hours in #{Date.today.year}
        %h3.row-stat-value 
          = @user.current_year_hours

#monthlyChart.chart-holder{ :style => "width:600px;height:300px" }

%script
  -#$.plot($("#monthlyChart"), [ [[1, 0], [2, 4 ],[3,5]] ], { xaxis: { mode : "time", timeformat: "%b",  ticks: [[1, "Jan"], [2, "Feb"], [3, "Mar"], [4, "Apr"], [5, "May"], [6, "Jun"], [7, "Jul"], [8, "Aug"], [9, "Sep"], [10, "Oct"], [11, "Nov"], [12, "Dec"]]}})
  UserApp.initialize();

