.mainnav
  .container
    = link_to "#", class: ["mainnav-toggle"], "data-toggle" => "collapse", "data-target" => ".mainnav-collapse" do
      %span.sr-only "Toggle navigation"
      %i.fa.fa-bars
    %nav.collapse.mainnav-collapse{:role => "navigation"}
      %ui.mainnav-menu
        %li
          = link_to authenticated_root_url do 
            Dashboard
            %i.mainnav-caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to "/" do
                %i.fa.fa-dashboard.dropdown-icon
                  Test
        %li.dropdown
          = link_to "/", class: ["dropdown-toggle"], "data-toggle" => "dropdown", "data-hover" => "dropdown"  do
            Hours
            %i.mainnav-caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to "/" do
                %i.fa.fa-dashboard.dropdown-icon
                  Add Hours
        - if current_user.admin?
          %li.dropdown
            = link_to "/", class: ["dropdown-toggle"], "data-toggle" => "dropdown", "data-hover" => "dropdown"  do
              Reports
              %i.mainnav-caret
            %ul.dropdown-menu{:role => "menu"}
              %li
                = link_to user_volunteer_activities_path(current_user.id) do
                  %i.fa.fa-dashboard.dropdown-icon
                    Quarterly Report
              %li
                = link_to user_monthly_report_index_path(current_user.id) do
                  %i.fa.fa-dashboard.dropdown-icon
                    Monthly Report
