= render "devise/shared/masthead", :message => "Add Organization"
.content
  .container
    %br.xs-30
    .account-wrapper
      .account-body
        %h3 Now Join an Organization
        %br
        = form_for(@user, url: wizard_path, method: :put, class: ["form", "account-form"]) do |f|
          .form-group
            .field
              //= f.collection_select :organization_ids, @organizations, :id, :name, :placeholder => 'Organization', :class => "js-example-data-array form-control"
              = f.collection_select :organization_ids, @organizations, :id, :name, {}, :placeholder => "Organizations", :class => "js-example-data-array form-control"
          .form-group
            .actions
              = f.submit 'Join', :class => 'btn btn-secondary btn-block btn-lg' 
        %h3 Or Create Your Organization
        %br
        = form_for(@organization, class: ["form", "account-form"]) do |f|
          .form-group
            .field
              = f.label :name, class: "placeholder-hidden"
              = f.text_field :name, autofocus: true, class: "form-control", placeholder: "Organization Name" 
          .form-group
            .field
              = f.label :description, class: "placeholder-hidden"
              = f.text_field :description, autofocus: true, class: "form-control", placeholder: "Organization Description" 
          .form-group
            .actions
              = f.submit 'Add', :class => 'btn btn-secondary btn-block btn-lg' 
:javascript
  var orgs = #{@organizations.to_json};
