!!! HTML
%html
  %head
    %title JohnBunker
    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :crossorigin => "anonymous"}
    %link{:rel=>"stylesheet", :href=>"https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic"}
    %link{:rel=>"stylesheet", :href=>"https://fonts.googleapis.com/css?family=Oswald:400,300,700"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag theme_stylesheet, media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true 
    = csrf_meta_tags 
  %body
    #wrapper
      - if user_signed_in? 
        = render :partial => "shared/dashboard_topnav"
        = render :partial => "shared/mainnav"
        .content
          .container
            = yield
      - else
        = render :partial => "layouts/topnavbar"
        = yield
